<h1>Order History</h1>

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <% order.order_items.each do |item| %>
      <p><%= link_to item.product.name.capitalize, product_path(item.product) %></p>
    <% end %>
  <% end %>
<% else %>
  <p>You haven't made any orders yet.</p>
<% end %>
